body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: black;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    font-size: 18px;
    line-height: 1.6;
}

.contact-info strong {
    color: black;
}

.contact-info a {
    color: black;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
